* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #ffffff;
  color: #333;
}

header {
  background: #fcf7e9;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  background-color: #FAF5E6;
  /* padding: 10px 20px;*/
  display: flex; 
  align-items: center;
}

.navbar .logo {
  height: 150px;
  width: 150px;
  margin-left: 50px;
  margin-right: 1450px;

}

.auth-buttons button {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  background: #FFA500;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 40px;
}
.product-list{
      display: flex;
      gap: 30px;
      width: 100%;
      max-width: 1500px;
      height: 400px;
      margin: auto;
      /* overflow: hidden; */
      position: relative;
      border-radius: 12px;
      margin-top: 30px;
      
    }

    .product-card {
      background: white;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      transition: transform 0.2s ease;
      width: 300px;
      height: 350px;
      text-align: center;

      
    }

    .product-card:hover {
      transform: translateY(-5px);
    }

    .product-card img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      margin-bottom: 160px;
    }

    .product-info {
      padding: 15px;
    }

    .product-name {
      font-size: 1.1em;
      margin-bottom: 10px;
      color: #333;
    }

    .product-price {
      color: #e53935;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .buy-btn {
      display: inline-block;
      margin-top: 10px;
      background: #FFA500;
      color: white;
      padding: 8px 12px;
      border-radius: 6px;
      text-decoration: none;
      font-size: 16px;
      height: 40px;
      width: 200px;
    }

    .buy-btn:hover {
      background: #e69500;
    }

    .search{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      gap: 10px;
    }
    .searchInput{
      width: 900px;
      height: 45px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-right: 10px;
    }
    .searchButton{
      padding: 10px 20px;
      background-color: #FFA500;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }
    .searchButton:hover {
      background: #e69500;
    }

    .fillterhButton{
      padding: 10px 20px;
      background-color: #FFA500;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 10px;
      font-size: 16px;
    }
    .fillterhButton:hover {
      background: #e69500;
    }
    .product-section{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 30px;
    }
